.container {
    /* display: flex; */
    position: relative;
}

.box {
    width: 50px;
    height: 50px;
    background-color: aqua;
    cursor: move;
    position: relative;
    /* top: 100px; */
    text-align: center;
}

.slots {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
}

.slot0,
.slot1,
.slot2,
.slot3,
.slot4,
.slot5,
.slot6,
.slot7,
.slot8,
.slot9 {
    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 68, 255);
    margin: 5px;
}

#create-div {
    position: relative;
    top: 50px;
    left: 50px;
}