.container_array {
    position: relative;
    margin: auto;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.box {
    width: 45px;
    height: 45px;
    background-color: rgb(179, 255, 0);
    cursor: move;
    position: absolute;
    top: 125px;
    left: 377.5px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

.value {
    position: relative;
    text-align: center;
    top: -20px;
}

.slots {
    position: relative;
    top: 100px;
    display: flex;
    width: 800px;
    height: 100px;
    margin: auto;
}

.slot {
    float: left;
    width: 45px;
    height: 45px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    border-radius: 5px;
    display: none;
    position: relative;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5), 0 20px 20px 0 rgba(0, 0, 0, 0.5);
    /* opacity: 0.5; */
    /* transition: transform .5s ease-in-out; */
}

.slot0 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 4.16px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot1 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 57.48px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot2 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 110.8px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot3 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 164.1335px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot4 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 217.45px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot5 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 270.78px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot6 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 324.105px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot7 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 377.428px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot8 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 430.752px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot9 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 484.0767px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot10 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 537.4005px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot11 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 590.7244px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot12 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 644.0482px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot13 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 697.372px;
    display: block;
    transition: transform .3s ease-in-out;
}

.slot14 {
    float: left;
    position: absolute;
    top: 27.5px;
    left: 750.658px;
    display: block;
    transition: transform .3s ease-in-out;
}

#index0,
#index1,
#index2,
#index3,
#index4,
#index5,
#index6,
#index7,
#index8,
#index9,
#index10,
#index11,
#index12,
#index13,
#index14 {
    position: relative;
    top: -25px;
    margin: auto;
    text-align: center;
}

.footer_array {
    position: relative;
    display: flex;
}

.key_section_array {
    position: relative;
    float: left;
    width: 48%;
    /* background-color: rgb(231, 206, 172); */
    height: 40vh;
    margin: auto;
    padding: 10px;
    justify-content: center;
}

.first_key_slot_array {
    display: flex;
    justify-content: center;
}

.label_array {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

#values_array {
    font-size: 16px;
    padding: 3px 12px;
    margin: 4px 2px;
    width: 300px;
}

.third_key_slot_array {
    display: flex;
}

.second_key_slot_array {
    padding: 20px;
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
}

#value_array {
    float: left;
    font-size: 16px;
    padding: 3px 12px;
    margin: 4px 2px;
}

#create-box-array {
    background-color: #030303;
    border: none;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #464747;
}

#create-box-array:hover {
    background-color: #424242;
    color: white;
}

.reset_array {
    position: relative;
    border: none;
    padding: 5px 25px;
    justify-self: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-top: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.reset_array:hover {
    background-color: #008CBA;
    color: white;
}

.output_section_array {
    position: relative;
    float: left;
    width: 48%;
    height: 40vh;
    /* background-color: aquamarine; */
    margin: auto;
    padding: 10px;
}

#copy_btn {
    position: absolute;
    top: 55px;
    right: 14px;
    display: none;
}

pre {
    background-color: rgb(85, 85, 85);
}

#add_code {
    font-size: 16px;
}