* {}

.container {
    border: 3px solid rgb(99, 67, 67);
    width: 900px;
    margin: 30px auto;
}

.item {
    border: 3px solid gray;
    margin: 12px 3px;
    padding: 12px 3px;
    background: rgb(240, 194, 194);
}