* {}

.container {
    border: 3px solid rgb(99, 67, 67);
    width: 900px;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
}

.item {
    border: 3px solid gray;
    margin: 12px 3px;
    padding: 12px 3px;
    background: rgb(240, 194, 194);
}

#fruit {
    width: 20%;
}

#computer {
    width: 20%;
}

#stationary {
    width: 20%;
}